<p>Hi {{name}},</p>
<p>Congratulations! Your talk:
  <b>{{title}}</b>
  has been successfully submitted to BiznagaFest.</p>

<p>Our team will shortly inform you of whether your talk has been selected or
  not.</p>

<p>Thank you for participating, we wish you the best of luck!</p>

<p>Estefanía García Gallardo - <b>BiznagaFest Team</b></p>