<h4 class="section-title">Facebook Data Deletion Instructions</h4>

<div class="section-container">
  <h1>Facebook Data Deletion Instructions</h1>
  <ol>
    <li>Go to Your Facebook Account’s Setting & Privacy. Click ”Settings“.</li>

    <li>
      Then, go to ”Apps and Websites” where you will see all of the apps and
      websites that your Facebook account is connected to.
    </li>

    <img
      src="assets/images/facebook-instructions/facebook-apps-and-sites.png"
    />

    <li>Select the option box of Open Conference Manager.</li>
    <li>Click the remove button.</li>

    <img
      src="assets/images/facebook-instructions/remove-conference-manager.png"
    />

    <li>Congratulations, you've successfully deleted your Facebook data.</li>
  </ol>
</div>
