<mat-toolbar>
  <fa-icon (click)="toggleSidenav()" [icon]="faMenu" class="menu"></fa-icon>
  <span class="spacer"></span>
  <ng-container *ngIf="speaker$ | async as speaker; else loggedOut">
    <button class="img-button" [matMenuTriggerFor]="menu">
      <img class="profile-image" [src]="speaker.photoUrl" />
    </button>
    <mat-menu #menu="matMenu" class="dropdown-menu">
      <button class="menu-item" mat-menu-item routerLink="profile">
        <fa-icon [icon]="faUser"></fa-icon>My Profile
      </button>
      <button class="menu-item" mat-menu-item (click)="logout()">
        <fa-icon [icon]="faSignOut"></fa-icon>Logout
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<ng-template #loggedOut>
  <a routerLink="/user/login" routerLinkActive="active"> Login </a>
</ng-template>
