button {
  background-color: #fff;
  color: rgb(134, 134, 134);
  margin-bottom: 10px;
  max-width: 409.5px;
  padding: 5px 100px;
  text-align: center;
  transition: all 0.5s;
}

.logo {
  height: 100px;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
}

.container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.left-container {
  align-items: stretch;
  background-color: #e8ecf5;
  display: flex;
  justify-content: end;
  width: 50%;
}

.right-container {
  align-items: stretch;
  background-color: #5479fa;
  display: flex;
  width: 50%;
}

.left-subtitle {
  color: #5c5c5c;
  font-weight: bolder;
  margin-bottom: 30px;
}

.left-container--inner {
  background-color: #f5f6fa;
  border-radius: 10px 0 0 10px;
  margin: 100px 60px;
  margin-right: 0;
  padding: 90px 0;
}

.right-container--inner {
  align-items: center;
  background-color: #6788ff;
  border-radius: 0 10px 10px 0;
  display: flex;
  margin: 100px 60px;
  margin-left: 0;
}

.text-container--left {
  text-align: center;
}

.text-container--right {
  margin-left: 70px;
}

.login-container {
  margin: 100px 400px;
}

.right-title {
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  line-height: 1.1em;
}

.provider-logo {
  height: 28px;
  margin-right: 10px;
}

.twitter-logo {
  height: 22px;
}

.circle {
  background-color: #6383f5;
  border-radius: 50%;
  position: absolute;
}

.triangle-1 {
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 80px solid #6383f5;
  bottom: 100px;
  height: 0;
  position: absolute;
  right: 500px;
  transform: rotate(60deg);
  width: 0;
}
.triangle-2 {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #6383f5;
  bottom: 450px;
  height: 0;
  position: absolute;
  right: 500px;
  transform: rotate(110deg);
  width: 0;
}

.triangle-3 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #6383f5;
  bottom: 250px;
  height: 0;
  position: absolute;
  right: 200px;
  transform: rotate(50deg);
  width: 0;
}

.type1 {
  height: 100px;
  right: 200px;
  top: 200px;
  width: 100px;
}

.type2 {
  height: 50px;
  right: 150px;
  top: 300px;
  width: 50px;
}

.type3 {
  height: 60px;
  right: 100px;
  bottom: 80px;
  width: 60px;
}

button:hover {
  background-color: #6383f5;
  color: #fff;
}
