<h2>Add a co-speaker</h2>
<p>
  Find your new co-speaker by searching for their email address. To be able to
  add them, they must have a Conference Manager account.
</p>
<p>
  If they don't have one, feel welcome to invite them to join our community!
</p>
<h4 class="error">{{ message }}</h4>
<form (ngSubmit)="searchForSpeaker()" [formGroup]="speakerForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Co-Speaker</mat-label>
    <input
      type="text"
      matInput
      [formControl]="speaker"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let speaker of speaker$ | async" [value]="speaker">
        {{ speaker.email }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button class="blue-btn" type="submit">Submit</button>
</form>
