<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <h1 class="sidenav-title">C4P Manager</h1>
    <h3 *ngIf="speaker$ | async as user">
      {{ user.name }}
    </h3>
    <div class="link-container">
      <a
        *ngIf="speaker$ | async as user"
        routerLink="profile"
        routerLinkActive="active"
        ><fa-icon [icon]="faUser"></fa-icon>My Profile</a
      >
      <a routerLink="talks" routerLinkActive="active"
        ><fa-icon [icon]="fa"></fa-icon>My Talks</a
      >
    </div>
    <div class="flex-center">
      <button
        routerLink="/dashboard/talks/create"
        class="mat-raised-button"
        mat-raised-button
      >
        Create a new talk
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <h1 class="name-title" *ngIf="speaker$ | async as user">
      {{ user.name }}
    </h1>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
