<a class="talk-container">
  <div class="text-container" routerLink="/dashboard/talks/{{ talk.id }}">
    <h3>{{ talk.title }}</h3>
    <span>Created: {{ talk.createdAt | date: "yyyy-MM-dd" }}</span>
  </div>
  <ng-container *ngIf="!talk.submitted; else submitted">
    <div>
      <button mat-raised-button (click)="submitTalk()">Submit</button>
    </div>
  </ng-container>
</a>

<ng-template #submitted>
  <div class="submitted-container">
    <mat-chip-list>
      <mat-chip color="accent" selected>Submitted</mat-chip>
    </mat-chip-list>
  </div>
</ng-template>
