/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #696969;
}

a {
  color: #696969;
  text-decoration: none;
}

.blue-btn {
  background-color: #6788ff;
  color: #fff;
}

.error {
  color: red;
}

.section-title {
  background-color: #fff;
  color: #696969;
  font-weight: bold;
  padding: 0 20px 10px;
}

.section-container {
  background-color: #fff;
  margin: 25px;
  padding: 30px;
}

.bubble,
.transparent-bubble {
  align-items: center;
  border-radius: 30px;
  color: #fff;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 12px;
}

.transparent-bubble {
  border: 2px solid #a0a0a0;
  color: #a0a0a0;
  margin-bottom: 0;
}

.web {
  background-color: rgb(90, 194, 90);
}

.cyber-security {
  background-color: lightcoral;
}

.mobile {
  background-color: lightsteelblue;
}

.cloud {
  background-color: rgb(90, 188, 248);
}
