<h3>{{ message }}</h3>
<div class="form-container">
  <form (ngSubmit)="register()" [formGroup]="registerForm">
      <h3 class=form-title>DOTGAMES REGISTER</h3>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput
        type="text"
        required
        name="username"
        formControlName="username"
      />
      <mat-error *ngIf="username.hasError('required')">
        Username is required
      </mat-error>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
      type="password"
      required
      name="password"
      formControlName="password"
    />
    <mat-error *ngIf="password.hasError('required')">
      Password is required
    </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
