<h4 class="section-title">My Profile</h4>
<div class="profile" *ngIf="speaker$ | async as speaker">
  <div class="container">
    <img
      *ngIf="speaker.photoUrl"
      class="card-img-top img-responsive photo"
      src="{{ speaker.photoUrl }}"
    />
    <div class="text-container">
      <h1 class="title">{{ speaker.name }}</h1>
      <h5 class="email">{{ speaker.email }}</h5>
      <p>{{ speaker.bio }}</p>
    </div>
  </div>
  <div class="description-container">
    <div>
      <div class="title-container">
        <h2>{{ speaker.name }}</h2>
        <button
          mat-raised-button
          class="blue-btn"
          routerLink="/dashboard/profile/edit"
        >
          Edit Profile
        </button>
      </div>
      <h3>Biography</h3>
      <p>
        {{ speaker.bio }}
      </p>
      <h3>Company</h3>
      <p>{{ speaker.company }}</p>
      <h3>City</h3>
      <p>{{ speaker.city }}</p>
    </div>
    <div>
      <a class="social-icon" *ngIf="speaker.twitter" [href]="speaker.twitter">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faTwitter"
        ></fa-icon>
      </a>
      <a class="social-icon" *ngIf="speaker.github" [href]="speaker.github">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faGithub"
        ></fa-icon>
      </a>
      <a class="social-icon" *ngIf="speaker.linkedin" [href]="speaker.linkedin">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faLinkedin"
        ></fa-icon>
      </a>
      <a class="social-icon" *ngIf="speaker.youtube" [href]="speaker.youtube">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faYoutube"
        ></fa-icon>
      </a>
    </div>
  </div>
</div>
