<h4 class="section-title">My Profile</h4>
<div class="profile">
  <div class="container">
    <img
      *ngIf="user.photoUrl"
      class="card-img-top img-responsive photo"
      src="{{ user.photoUrl }}"
    />
    <div class="text-container">
      <h1 class="title">{{ user.name }}</h1>
      <h5 class="email">{{ user.email }}</h5>
    </div>
  </div>
  <div class="description-container">
    <div>
      <div class="title-container">
        <h2>{{ user.name }}</h2>
        <button
          mat-raised-button
          class="blue-btn"
          routerLink="/user/profile/edit"
        >
          Edit Profile
        </button>
      </div>
      <p>
        Estefanía García Gallardo is a software developer from Málaga, lover of
        all things fullstack, contributing to the open source community and
        fixing bugs at 2AM
      </p>
    </div>
    <div>
      <a class="social-icon" *ngIf="user.twitter" [href]="user.twitter">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faTwitter"
        ></fa-icon>
      </a>
      <a class="social-icon" *ngIf="user.github" [href]="user.github">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faGithub"
        ></fa-icon>
      </a>
      <a class="social-icon" *ngIf="user.linkedin" [href]="user.linkedin">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faLinkedin"
        ></fa-icon>
      </a>
      <a class="social-icon" *ngIf="user.youtube" [href]="user.youtube">
        <fa-icon
          size="lg"
          [styles]="{ color: 'white' }"
          [icon]="faYoutube"
        ></fa-icon>
      </a>
    </div>
  </div>
</div>
