button {
  background-color: #fff;
  color: rgb(134, 134, 134);
  margin-bottom: 10px;
  max-width: 409.5px;
  padding: 5px 100px;
  text-align: center;
  transition: all 0.5s;
}

.logo {
  height: 100px;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
}

.container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.left-container {
  align-items: stretch;
  background-color: #5479fa;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.right-container {
  align-items: stretch;
  background-color: #e8ecf5;
  display: flex;
  width: 50%;
}

.right-subtitle {
  color: #5c5c5c;
  font-weight: bolder;
  margin-bottom: 30px;
}

.left-container--inner {
  align-items: center;
  background-color: #6788ff;
  border-radius: 10px 0 0 10px;
  display: flex;
  margin: 100px 60px;
  margin-right: 0;
  padding: 90px 0;
  width: 85%;
}

.right-container--inner {
  align-items: center;
  background-color: #f5f6fa;
  border-radius: 0 10px 10px 0;
  display: flex;
  margin: 100px 60px;
  margin-left: 0;
  width: 85%;
}

.text-container--right {
  text-align: center;
  width: 100%;
}

.text-container--left {
  margin-left: 70px;
  z-index: 1;
}

.login-container {
  margin: 100px 400px;
}

.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.left-title {
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  line-height: 1.1em;
}

.provider-logo {
  height: 28px;
  margin-right: 10px;
}

.twitter-logo {
  height: 22px;
}

.circle {
  background-color: #4268f0;
  border-radius: 50%;
  position: absolute;
}

.triangle-1 {
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 80px solid #4268f0;
  height: 0;
  position: absolute;
  left: 35%;
  top: 20%;
  transform: rotate(125deg);
  width: 0;
}
.triangle-2 {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #4268f0;
  height: 0;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: rotate(110deg);
  width: 0;
}

.triangle-3 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #4268f0;
  bottom: 250px;
  height: 0;
  position: absolute;
  left: 15%;
  transform: rotate(50deg);
  width: 0;
}

.type1 {
  height: 100px;
  left: 10%;
  top: 15%;
  width: 100px;
}

.type2 {
  height: 50px;
  left: 20%;
  top: 15%;
  width: 50px;
}
.type3 {
  height: 60px;
  left: 40%;
  top: 80%;
  width: 60px;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .right-container,
  .left-container {
    width: 100%;
  }

  .left-container--inner,
  .right-container--inner {
    margin: 70px 5%;
    width: 100%;
  }

  .text-container--right {
    margin: 20px 0;
  }

  .type1 {
    left: 10%;
  }

  .type2 {
    left: 50%;
  }

  .type3 {
    left: 70%;
    top: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .type3 {
    top: 70%;
  }
}

@media only screen and (max-width: 400px) {
  button {
    max-width: 80%;
    padding: 5px 50px;
  }

  .left-title {
    font-size: 30px;
    line-height: 1.5em;
  }

  .text-container--left {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 360px) {
  button {
    padding: 5px 20px;
  }
}

@media only screen and (max-width: 360px) {
  button {
    padding: 5px;
  }
}

button:hover {
  background-color: #6383f5;
  color: #fff;
}

button.disabled:hover {
  background-color: #fff;
  color: rgb(134, 134, 134);
}
