<div class="container">
  <div class="left-container">
    <div class="left-container--inner">
      <div class="text-container--left">
        <img class="logo" src="assets/images/Chainlink_Logo.png" />
        <h2 class="left-subtitle">Sign in to get started</h2>
        <button mat-stroked-button (click)="signInWithGoogle()">
          <img class="provider-logo" src="assets/images/google-logo.png" />
          Sign in with Google
        </button>
        <button mat-stroked-button (click)="signInWithGoogle()">
          <img class="provider-logo" src="assets/images/facebook-logo.png" />
          Sign in with Facebook
        </button>
        <button mat-stroked-button (click)="signInWithGoogle()">
          <img
            class="provider-logo twitter-logo"
            src="assets/images/twitter-logo.png"
          />
          Sign in with Twitter
        </button>
        <button mat-stroked-button (click)="signInWithGoogle()">
          <img class="provider-logo" src="assets/images/github-logo.png" />
          Sign in with Github
        </button>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="right-container--inner">
      <div class="text-container--right">
        <h1 class="right-title">Welcome to C4P Manager</h1>
        <h4>Made with love in Málaga</h4>
      </div>
    </div>
  </div>
</div>
<div class="circle type1"></div>
<div class="circle type2"></div>
<div class="circle type3"></div>
<div class="triangle-1"></div>
<div class="triangle-2"></div>
<div class="triangle-3"></div>
